name: Python application

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Set up Python
      run: uv python install 3.13
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1 libglib2.0-0
        uv sync --extra dev
    - name: Lint with ruff
      run: |
        uv run ruff check .
    - name: Run tests
      run: |
        uv run pytest \
          --cov garbage_bin \
          --cov-report xml
        uv run coverage lcov
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v5.5.2
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.6
